extends layout

block content
  .page-header
   h1 #{title}
  hr
  ul.list-group
    each film, i in films
      a.list-group-item.list-group-item-action(href="/films/"+film._id)= film.title+" ("+film.year+")"
