doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")


        title= title + " - I love FILMS"

        
        
        link(href="/stylesheets/lib/bootstrap/bootstrap.min.css", rel="stylesheet")
        link(href="/stylesheets/lib/bootstrap/bootstrap-grid.min.css", rel="stylesheet")
        link(href="/stylesheets/lib/bootstrap/bootstrap-reboot.min.css", rel="stylesheet")
        //- link(href="/bootstrap/css/bootstrap.min.css", rel="stylesheet")
        //- link(href="/bootstrap/css/bootstrap-grid.min.css", rel="stylesheet")
        //- link(href="/bootstrap/css/bootstrap-reboot.min.css", rel="stylesheet")
        link(href="/stylesheets/style.css", rel="stylesheet")
        
body
    nav.navbar.navbar-toggleable-md.navbar-light.sticky-top.bg-faded
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .container
          .navbar-header
              a.navbar-brand(href="/") 
                img(src='/favicon.png' height=32, width=32)
                span I love FILMS
          .collapse.navbar-collapse#navbarCollapse
              ul.navbar-nav.mr-auto
                  li.nav-item(class=(title == "Home" ? "active" : ""))
                      a.nav-link( href="/" ) Home
                  li.nav-item(class=(title == "Film Database" ? "active" : ""))
                      a.nav-link( href="/films" ) Film Database
                  if user
                      li.nav-item(class=(title == "Add Film" ? "active" : ""))
                          a.nav-link( href="/films/add" ) Add Film
                      li.nav-item(class=(title == "Neighbours" ? "active" : ""))
                          a.nav-link( href="/recomendation/neighbours" ) Neighbours
                      li.nav-item(class=(title == "Recomendations" ? "active" : ""))
                          a.nav-link( href="/recomendation/recomendations" ) Recomendations
              ul.nav.navbar-nav.navbar-right
                  if user
                      li.nav-item(class=(title == "Admin Tools" ? "active" : ""))
                          a.nav-link( href="/users/admin" ) Admin Tools
                  if !user
                      li.nav-item(class=(title == "Register" ? "active" : ""))
                          a.nav-link( href="/users/register" ) Register
                      li.nav-item(class=(title == "Login" ? "active" : ""))
                          a.nav-link( href="/users/login" ) Login
  
                  if user
                    li.nav-item.dropdown
                      a.nav-link.dropdown-toggle(data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Logged as: #{user.username}
                      .dropdown-menu
                        a.dropdown-item(href='/users/profile') Profile
                        .dropdown-divider
                        a.dropdown-item(href='/users/logout') Logout

    .container
        != messages()
        block content
    
    hr
    .container
      .card.bg-faded
       .card-block
        Copyright © 2018 Adam Zieliński
    
    //-script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="/javascripts/lib/jquery-3.2.1.min.js")
    script(src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js")
    script(src="/javascripts/lib/bootstrap/bootstrap.js")
    script(src="/javascripts/main.js")
    
    //- script(src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js")
