extends layout

block content
  .page-header
   h1 #{title}
   p Users with similar film taste to you will be listed in the table below
  hr
  table.table.table-striped.table-bordered
    tr
      th Username
      th Similarity coefficient
    each c, i in coefficients
      tr
        td #{c.username}
        td #{c.coefficient.toFixed(2)}
