extends layout

block content
  .page-header
   h1 #{title}
   p Here are films that are recomended for you based on your votes
  hr
    
  table.table.table-striped.table-bordered.table-hover
    tr
      th Film title
      th Expected rating
    each r, i in user.recomendations
      tr(onclick=`window.location=\"/films/${r.filmID._id}\"`)
        td #{r.filmID.title}
        td #{r.rating}

      //-tr(onclick="window.location='/films/' + 'r.filmID._id' ;")
        
